<div class="home-div">
    <img src="/images/beer.png" alt="beer">
    <div class="home-buttons">
        <a class="beers-button" href="/beers">Check the Beers!</a>
        <a class="random-beer-button" href="/random-beer">Check a Random Beer</a>
    </div>
</div>